<%#
Local variables
---------------
field: Field object
%>
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= field.name %></h3>
      </div>
      <ul class="list-group">
        <%= render partial: 'field_attribute', locals: {
          field: field,
          attribute: :odk_type,
          tag: :code
        } %>
        <%= render partial: 'field_attribute', locals: {
          field: field,
          attribute: :label
        } %>
        <li class="list-group-item">
          <%= link_to 'Update', edit_field_path(field), class: "btn btn-warning", role: :button %>
          <%= ('&nbsp;' * 3).html_safe %>
          <%= link_to 'Delete', field_path(field), method: :delete, class: "btn btn-danger", role: :button %>
        </li>
      </ul>
    </div>
  </div>
</div>
