<%#
Local variables
---------------
field: Field object
%>
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= field.name %></h3>
      </div>
      <ul class="list-group">
        <%= render partial: 'field_attribute', locals: {
          field: field,
          attribute: :odk_type,
          tag: :code
        } %>
        <%= render partial: 'field_attribute', locals: {
          field: field,
          attribute: :label
        } %>
        <li class="list-group-item">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Update', edit_field_path(field) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Move up', move_up_field_path(field) %></li>
              <li><%= link_to 'Move down', move_down_field_path(field) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Delete', field_path(field), method: :delete %></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
