<% if @form.errors.any? %>
  <h3>Invalid XLSForm</h2>
  <ul>
    <% @form.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <ul>
<% end %>

<%= form_for @form do |helper| %>
  <div class="form-group">
    <% @attributes.each do |attrib| %>
      <div class="fields">
        <%= helper.label attrib %>
        <div class="row">
          <div class="col-md-5">
            <%= helper.text_field attrib, class: "form-control" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= helper.submit 'Add form', class: "btn btn-success" %>
<% end %>
