<h2><%= @form.form_title %></h2>

<% @form.fields.each do |field| %>
  <p>
    <code><%= field.name %></code>
    <br />
    <code><%= field.odk_type %></code>
    <br />
    <%= field.label %>
    <br />
    <%= link_to 'Delete', field_path(field), method: :delete %>
  </p>
<% end %>
