<%= render partial: 'forms/form_title' %>

<% if @field.errors.any? %>
  <h2>Invalid field</h2>
  <ul>
    <% @field.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <ul>
<% end %>

<%= form_for [:form, @field] do |helper| %>
  <fieldset>
    <% [:name, :odk_type, :label].each do |attrib| %>
      <div class="fields">
        <%= helper.label attrib %>
        <%= helper.text_field attrib %>
      </div>
    <% end %>
  </fieldset>
  <%= helper.submit %>
<% end %>
